.container {
    
    border: 2px double black;
   justify-content: center;
    margin: 150px; 
    padding: 15px 18px 15px 18px;
}
.col-12{
    text-align: center;
}

.row-cols-3{
    display:flex;
    border: 2px solid black;
    position:relative;

}

.col-7{
 
  align-items: right;
  justify-content: right;
  text-align: center;
}